body {
  background-color:aquamarine; 
  min-height: 100vh; 
  color:brown;
}

.content {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
}

.content-title {
  margin-top: 30px;
}

.footer {
  display: flex; 
  justify-content: end; 
  align-items: center; 
  flex-direction: column;
}

.footer-text {
  text-align: right;
}